<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引用外部配置文件-->
    <properties resource="db.properties">
        <!--<property name="username" value="dev_user"/>-->
        <!--<property name="password" value="F2Fa3!33TYyg"/>-->
    </properties>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--可以给实体类取别名-->
    <typeAliases>
        <!--<typeAlias type="com.wyb.User" alias="User"></typeAlias>-->

        <package name="com.wyb.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>

                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 每一个Mapper.xml都需要在Mybatis核心配置文件中注册 -->
    <mappers>
        <!--<mapper resource="com/wyb/dao/UserMapper.xml"/>-->
        <!--<mapper class="com/wyb/dao/UserMapper"/>-->
        <package name="com.wyb.dao"/>
    </mappers>

</configuration>